<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand">
            <img src="../assets/logo.png" alt="..." height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="_userService.identity">
                    <a class="nav-link active" aria-current="page" routerLink='/clientes'>Clientes</a>
                </li>
                <li class="nav-item" *ngIf="_userService.identity">
                    <a class="nav-link active" aria-current="page" routerLink='/marcas'>Catalogos</a>
                </li>
                <li class="nav-item" *ngIf="_userService.identity">
                    <a class="nav-link active" aria-current="page" routerLink='/producto'>Productos</a>
                </li>
                <li class="nav-item" *ngIf="_userService.identity">
                    <a class="nav-link active" aria-current="page" routerLink='/lista-facturas'>Facturas Emitidas</a>
                </li>
                <li class="nav-item" *ngIf="_userService.identity">
                    <a class="nav-link active btn-verde" aria-current="page" routerLink='/facturar'>Facturar</a>
                </li>
                
            </ul>
        </div>
        <div *ngIf="_userService.identity">
            <label style="margin-right: 25px; color:aliceblue">Sesión iniciada como: {{_userService.identity.usuario}}</label>
            <button class="btn btn-logout" type="button" (click)="cerrarSesion()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
